<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.febrian.hackathon_k5">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hackathon_K5">
        <activity
            android:name=".pedagang.HomePedagangActivity"
            android:exported="true" />
        <activity
            android:name=".pembeli.EditProfilPembeliActivity"
            android:exported="true" />
        <activity
            android:name=".pembeli.HomePembeliActivity"

            android:windowSoftInputMode="adjustPan"
            android:exported="true" />
        <activity
            android:name=".pembeli.RegisterPembeli2Activity"
            android:exported="true" />
        <activity
            android:name=".pembeli.LoginPembeli2Activity"
            android:exported="true" />
        <activity
            android:name=".pedagang.Login2Activity"
            android:exported="true" />
        <activity
            android:name=".pedagang.Register2Activity"
            android:exported="true" />
        <activity
            android:name=".pedagang.AddDagangan"
            android:exported="true" />
        <activity
            android:name=".pembeli.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".pedagang.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".pembeli.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".pedagang.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".pembeli.DetailItemActivity"
            android:exported="true" />
        <activity
            android:name=".pedagang.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".pembeli.HomeActivity"
            android:exported="true"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.Hackathon_K5.NoActionBar" />
        <activity
            android:name=".PedagangAtauPembeli"
            android:exported="true" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>